<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7e181530-4fcf-4fcf-a08a-b541b5d29a20/resourceGroups/HPV-ADOLEPAC/providers/Microsoft.Web/sites/hpv-adolepac</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hpv-adolepac.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>7f1bce99-b1ce-43bf-aa3c-b6777174b123</ProjectGuid>
    <PublishUrl>https://hpv-adolepac.scm.azurewebsites.net/</PublishUrl>
    <UserName>$hpv-adolepac</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>