<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1260700a-be9c-4adb-b532-66ee2e8f1b58/resourceGroups/PX/providers/Microsoft.Web/sites/hpv-adolepac7</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hpv-adolepac7.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>7f1bce99-b1ce-43bf-aa3c-b6777174b123</ProjectGuid>
    <PublishUrl>https://hpv-adolepac7.scm.azurewebsites.net/</PublishUrl>
    <UserName>$hpv-adolepac7</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>