@page
@model HPV_ADOLEPAC_6._0.Pages.Student.GameModel
@{
    ViewData["Title"] = "Game";
}

<body>
    <header>
        <h1>Game</h1>
    </header>

    <iframe src="https://gray-mushroom-025aa7803.5.azurestaticapps.net/"
            width="100%"
            height="600px"
            frameborder="0">
    </iframe>

    <div class="container2">
        <a href="/Index" class="btn" width="300px">Back</a>
    </div>
</body>
