@page
@model HPV_ADOLEPAC_6._0.Pages.Student.mod2Model
@{
    ViewData["Title"] = "Module 2";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .image {
            max-width: 100%;
            height: auto;
        }

    </style>

    <style>
        button {
            background-color: orange;
            font-family: "Architects Daughter", cursive;
            color: #fff;
            padding: 10px 20px;
            font-size: 1.4em;
            border: none;
            border-radius: 6px;
        }
    </style>


    <style media="screen and (min-width: 768px)">
        .image {
            width: 250px;
            height: auto;
        }
    </style>


</head>

<body>
    <nav>
        <ul class="breadcrumb">
            <li><a href="mod1">Module 1</a></li>
            <li>Module 2</li>
        </ul>
    </nav>
    <header>
        <h1><img src="/images/mod2_icon.png" width="150" height="150"> <b>Welcome to Module 2</b></h1>
    </header>

    <section class="hero">

        <h1><b><span style="color:orange;">HPV</span> and Cancer</b></h1>

        <h2>
            There are over 100 different HPV types – classified as  <span style="color: green;">“low-risk”</span> and  <span style="color: red;">“high-risk”</span>, based on whether they can cause cancer or not.
            <br><br>
            Low-risk HPV types <span style="color: green;">6, 11, 42, 43, and 44</span> do not cause cancer but can cause genital warts.
            <br><br>
            <img src="/images/genitalwarts_mod2.png" class="image" width="200" height="200">
            <br><br>
            High-risk HPV types <span style="color: red;">16, 18, 31, 33, 34, 35, 39, 45, 51, 52, 56, 58, 59, 66, 68, and 70</span> can cause cancer if they persist for a very long time.
            <br><br>
            We can see here that there are more high-risk HPV types than low-risk HPV.
            <br><br>
            In most cases, the immune system clears HPV from the body.
            <br><br>
            However, there are times when the body does not clear HPV: usually when the infection is with high-risk types.
            <br><br>
            We call this a ‘persistent’ HPV infection.
            <br><br>
            Persistent HPV infection can cause abnormal cells to develop on the cervix which may eventually develop into cervical cancer if left untreated.
            <br><br>
            <img src="/images/cervicalcancer_mod2.png" class="image" width="200" height="200">
            <br><br>
            Cervical cancer is the most common type of cancer caused by HPV.
            <br><br>
            Persistent infection also causes common cancers affecting men and women, including anal, vulvar, vaginal, mouth/throat and penile cancers.
            <br><br>
            <img src="/images/cancertypes_mod2.png" class="image" width="200" height="200">

        </h2>
        <br>
        <a href="mod3">
            <button>
                <b>Next Module</b>
            </button>
        </a>
    </section>
</body>