@page
@model HPV_ADOLEPAC_6._0.Pages.Student.mod3Model
@{
    ViewData["Title"] = "Module 3";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .image {
            max-width: 100%;
            height: auto;
        }

    </style>

    <style>

        button {
            background-color: orange;
            font-family: "Architects Daughter", cursive;
            color: #fff;
            padding: 10px 20px;
            font-size: 1.4em;
            border: none;
            border-radius: 6px;
        }

    </style>

    <style media="screen and (min-width: 768px)">
        .image {
            width: 250px;
            height: auto;
        }
    </style>


</head>

<body>
    <nav>
        <ul class="breadcrumb">
            <li><a href="mod1">Module 1</a></li>
            <li><a href="mod2">Module 2</a></li>
            <li>Module 3</li>
        </ul>
    </nav>
    <header>
        <h1><img src="/images/mod3_icon.png" width="150" height="150"> <b>Welcome to Module 3</b></h1>
    </header>

    <section class="hero">

        <h1><b><span style="color:orange;">HPV</span> Vaccine</b></h1>

        <h2>
            The best way to prevent and protect ourselves against HPV is through <span style="color: orange;">vaccination</span>.
            <br><br>
            The first produced HPV vaccine is for protection against two high-risk types (16 and 18), which cause about 70% of cervical cancers and 77% of other HPV-related cancers in women and men.
            <br><br>
            <img src="/images/gardasilVaccine.png" class="image" width="200" height="200">
            <br><br>
            <span style="color:orange;">Gardasil-4valent</span> Vaccine</b> HPV vaccine is the choice for Nigeria, 1 dose for children aged 9-14.
            <br><br>
            It protects against 2 high-risk HPV types (types <span style="color:orange;">16, and 18</span>), which cause 70% of cervical cancer and also protects against two non-cancerous types (types <span style="color:orange;">6, and 11</span>), which cause 90% of genital warts (Cancer Council, 2022).
            <br><br>
            As the Global shortage of HPV vaccines persists including Gardasil, the new recommendation by SAGE on the efficacy of a single dose of HPV vaccine has prompted the Country to consider the 1-dose schedule as ideal for Nigeria (WHO, 2022).
            <br><br>
            Gardasil 4-valent HPV vaccine is an Immunogen (Recombinant L1 proteins from HPV types):6, 11, 16, 18. The Quadrivalent HPV vaccine is authorized for females 9-45 years and males 9-26 years.
            <br><br>
            <img src="/images/gardasilVaccineStock.png" class="image" width="200" height="200">
            <br><br>
            Nigeria just recently received a vaccine supply commitment of 8 million doses of Gardasil in 2023 and an additional 11 million doses in 2024 from MERK towards the introduction of Routine Immunization.
        </h2>

        <hr>

        <h1><b><span style="color:orange;">Who</span> should receive the <span style="color:orange;">Vaccine</span>?</b></h1>

        <h2>
            All boys and girls aged 9-26 should have the HPV vaccine. The vaccine is most effective if received before exposure to HPV or sexual activity.
            <hr>
            <img src="/images/vaccineAge_mod3.png" class="image" width="200" height="200">
        </h2>

        <hr>

        <h1><b><span style="color:orange;">How</span> does the <span style="color:orange;">vaccine work</span> through the concept of <span style="color:orange;">immunity</span>?</b></h1>

        <h2>
            HPV vaccines work by triggering the immune system to recognise the HPV virus by replicating its appearance without introducing any of the ‘live’ virus into our body.
            <br><br>
            The immune system then produces antibodies to fight off HPV cells as well as memory cells to recognize what HPV looks like if it comes across it again.
            <br><br>
            <img src="/images/fightVaccine_mod3.png" class="image" width="200" height="200">
            <br>
            This is called <span style="color:orange;">immunity</span>.
            <br><br>
            If a vaccinated person comes into contact with these infections, their immune system can respond more effectively, preventing the disease from developing or greatly reducing its severity.
        </h2>

        <hr>

        <h1><b>Concept of <span style="color:orange;">Herd</span> immunity.</b></h1>
        <img src="/images/kidVaccine1.PNG" class="image" width="200" height="200">
        <br>
        <h2>
            Vaccinating males will prevent male cancers and genital warts and importantly, will also help to protect females from cervical cancer.
            <br><br>
            <!-- Will add an image here showing vaccination of males and females in the schools and community-->
            This implies most people in a community are vaccinated, it makes it harder for a disease to spread.
            <br><br>
            <img src="/images/kidVaccine2.PNG" class="image" width="200" height="200">
            <br><br>
            This indirectly protects those who can’t get vaccinated, such as people who can’t be vaccinated for medical reasons. This type of protection is called <span style="color:orange;">herd</span> immunity.
        </h2>

        <hr>

        <h1><b>HPV <span style="color:orange;">vaccine doses</span>.</b></h1>

        <h2>
            The vaccine is an Intramuscular injection into the upper arm.
            <br><br>
            <img src="/images/recieveVaccine_mod3.png" class="image" width="200" height="200">
            <br>
            Now recommends a one-dose schedule of HPV vaccination for people aged 9 to 14.
            <br><br>
            Those aged 15–20 years may receive one or 2 doses, while those aged ≥ 21 years should receive 2 doses with a 6-month interval.
            <br><br>
            Currently, only one dose of the HPV vaccine is required, even if multiple doses were previously recommended.
            <br><br>
            If you already had a single dose and you are not immunocompromised, you are now considered fully vaccinated for HPV. 
            <br><br>
            For a person living with an immunocompromised condition, you may still require three doses of the vaccine. A 3-dose schedule requires 2 months between dose one and dose two, and four months between dose 2 and dose 3.
        </h2>

        <hr>

        <h1><b><span style="color:orange;">Cost</span> of HPV <span style="color:orange;">vaccine</span> in Nigeria.</b></h1>

        <h2>
            Gardasil-4valent HPV vaccine is available at a subsidized rate of 15,000 NGN per dose in government hospitals.
            <br><br>
            The government had also promised to make it free of charge through the school-based National HPV Vaccination Program in Primary Health Centres

        </h2>

        <hr>

        <a href="mod4">
            <button>
                <b>Next Module</b>
            </button>
        </a>
    </section>
</body>

