@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
@if (User.IsInRole("Admin"))
{
    <header>
        <h1>You are logged in as an Admin</h1>
    </header>
    <div class="container2">

        <a href="/Admin/StudentRecords" class="btn">Student Records</a>
        <hr>
        <a href="/Admin/EditContents" class="btn list">Edit Contents</a>
        <hr>
        <a href="/Admin/ViewData" class="btn list">Questionnaire Data</a>


    </div>

}
else

@if (User.IsInRole("Student"))
{
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            /* Style for large screens */
            @@media screen and (min-width: 1200px) {
                .studentIndex {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 60vw;
                    margin: auto;
                    height: 65vh;
                }

                .image-wrapper {
                    position: relative;
                    margin-bottom: 40px;
                }

                    .image-wrapper img {
                        position: absolute;
                        top: -13px;
                        left: 105px;
                        width: 80px;
                        height: 80px;
                        z-index: 10;
                    }

                .studentIndex .btn {
                    position: relative;
                    z-index: 0; /* make buttons behind images */
                    width: 150px;
                    transition: background-color 0.3s, color 0.3s;
                    margin-top: 30px;
                    text-align: center;
                }
            }

            /* Style for medium screens */
            @@media screen and (max-width: 1199px) and (min-width: 800px) {
                .studentIndex {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 70vw;
                    margin: auto;
                    height: 65vh;
                }

                .image-wrapper {
                    position: relative;
                    margin-bottom: 40px;
                }

                    .image-wrapper img {
                        position: absolute;
                        top: -13px;
                        left: 105px;
                        width: 80px;
                        height: 80px;
                        z-index: 10;
                    }

                .studentIndex .btn {
                    position: relative;
                    z-index: 0; /* make buttons behind images */
                    width: 150px;
                    transition: background-color 0.3s, color 0.3s;
                    margin-top: 30px;
                    text-align: center;
                }
            }

            /* Style for small screens */
            @@media screen and (max-width: 799px) {
                .studentIndex {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 95vw;
                    height: 66vh
                }

                .image-wrapper {
                    position: relative;
                    margin-bottom: 40px;
                }

                    .image-wrapper img {
                        position: absolute;
                        top: -13px;
                        left: 105px;
                        width: 80px;
                        height: 80px;
                        z-index: 10;
                    }

                .studentIndex .btn {
                    position: relative;
                    z-index: 0; /* make buttons behind images */
                    width: 150px;
                    transition: background-color 0.3s, color 0.3s;
                    margin-top: 30px;
                    text-align: center;
                }
            }
        </style>


    </head>

    <body>
        <header>
            <h1>Lets learn about HPV!</h1>
        </header>
        <div class="studentIndex">

            <div class="image-wrapper">
                <a href="/Student/MyProfile"><img src="/images/profilebtnImage.PNG" alt="Profile Image"></a>
                <a href="/Student/MyProfile" class="btn">My Profile</a>
            </div>

            <div class="image-wrapper">
                <a href="/Student/Education"><img src="/images/injection.PNG" alt="Injection Image"></a>
                <a href="/Student/Education" class="btn">Education</a>
            </div>

            <div class="image-wrapper">
                <a href="/Student/Game"><img src="/images/gameController.PNG" alt="Game Controller Image"></a>
                <a href="/Student/Game" class="btn">Game</a>
            </div>

        </div>
    </body>

}
else
{
    <body>
        <header>
            <h1>Welcome to HPV-ADOLEPAC</h1>
        </header>
        <section class="hero">
            <h2>Empowering Adolescent Girls Through Education</h2>
            <p>Join us in the fight against cervical cancer by learning about HPV vaccination and prevention.</p>
            <a href="Identity/Account/Register" class="btn">Get Started</a>
        </section>
        <section class="about">
            <h2>About HPV-ADOLEPAC</h2>
            <p>HPV-ADOLEPAC is a mobile web application designed to increase awareness and uptake of the HPV vaccine among adolescent girls aged 11-14 years in Nigeria. Our mission is to empower girls and their guardians with knowledge about HPV, cervical cancer, and the importance of vaccination.</p>
        </section>
    </body>
}
</html>