@page
@model HPV_ADOLEPAC_6._0.Pages.Admin.EditContentsModel
@{
    ViewData["Title"] = "Edit Contents";
}

@{
    <body>
        <header>
            <h1>Edit Contents</h1>
        </header>
        <div class="container2">
            <a href="/Admin/EditPreTest/Index" class="btn">Pre-Test</a>
            <hr>

            <a href="/Admin/EditTest" class="btn">Interventional Quiz </a>
            <hr>
            <a href="/Admin/EditPost" class="btn">Post-Test</a>
        </div>

    </body>
}