@page
@model HPV_ADOLEPAC_6._0.Pages.Admin.EditPreTest.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PreTestQuestions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PreTestQuestions.PreTestQuestionID" />
            <div class="form-group">
                <label asp-for="PreTestQuestions.PreTestQuestion" class="control-label"></label>
                <input asp-for="PreTestQuestions.PreTestQuestion" class="form-control" />
                <span asp-validation-for="PreTestQuestions.PreTestQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreTestQuestions.PreTestQuestionOption1" class="control-label"></label>
                <input asp-for="PreTestQuestions.PreTestQuestionOption1" class="form-control" />
                <span asp-validation-for="PreTestQuestions.PreTestQuestionOption1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreTestQuestions.PreTestQuestionOption2" class="control-label"></label>
                <input asp-for="PreTestQuestions.PreTestQuestionOption2" class="form-control" />
                <span asp-validation-for="PreTestQuestions.PreTestQuestionOption2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreTestQuestions.PreTestQuestionOption3" class="control-label"></label>
                <input asp-for="PreTestQuestions.PreTestQuestionOption3" class="form-control" />
                <span asp-validation-for="PreTestQuestions.PreTestQuestionOption3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreTestQuestions.PreTestQuestionOption4" class="control-label"></label>
                <input asp-for="PreTestQuestions.PreTestQuestionOption4" class="form-control" />
                <span asp-validation-for="PreTestQuestions.PreTestQuestionOption4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreTestQuestions.PreTestQuestionOption5" class="control-label"></label>
                <input asp-for="PreTestQuestions.PreTestQuestionOption5" class="form-control" />
                <span asp-validation-for="PreTestQuestions.PreTestQuestionOption5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
